html,body {
  margin: 0;
  padding: 0;
}
body {
  background-color: #C1A878;
  font-family: 'Georgia', serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.45;
  color: #685F5F;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.074em;
  color: rgb(54, 8, 8);
}

h2 {font-size: 1.728em;}

h3 {font-size: 1.44em;}

h4 {font-size: 1.2em;}

small, .small {font-size: 0.833em;}

.container {
  max-width: 700px;
  margin: 0 auto;
}

img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

a {
  color: black;
}
a:hover {
  color: white;
}

.header {
  background: #7F4F21;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

table {
  table-layout: fixed;
}
th,td {
  padding: .75em .5em;
  border-bottom: 1px solid #ddd;
}
th {
  text-align: right;
  border-right: 2px solid #ddd;
}
tr:first-child th, tr:first-child td {
  border-top: 1px solid #ddd;
}
.pull-right {
  float: right;
  max-width: 300px;
}
